<ion-header>
  <ion-toolbar>
    <ion-title>Ergebnis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p style="font-family: Arial; font-size: 18px; color: #0a569a">
    Auswertung Business Analytics Voraussetzungen
  </p>
  <p style="padding-left: 1vw">
    Auf Basis der beantworteten Fragen ist eine Bewertung der Analytics Kompetenzen in den Bereichen Technik/IT, Kompetenzen und Recht möglich. Entlang des Business Analytics Prozesses kann die unternehmensinternen Business Analytics Voraussetzungen klassifiziert werden
  </p>
</ion-content>
