<ion-header>
  <ion-toolbar>
    <ion-title>Business Analytics Navigator im Service-Engineering</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <div class="willkommen">
          <p style="font-family: Arial; font-size: 28px; color: #0a569a" align="center">Willkommen beim
            Business Analytics Navigator im Service-Engineering
          </p>
        </div>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-button style="padding-left: 8vw">Neu</ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <div class="powered">
        <p style="font-family: Arial; font-size: 16px; color: #0a569a">
          Powered by
        </p>
      </div>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="../assets/Logos/Logo1.png" width="25%">
        <img src="../assets/Logos/Logo2.png" width="25%" style="padding-left: 3vw">
      </ion-col>
      <ion-col>
        <img src="../assets/Logos/Logo3.png" width="120%" style="padding-left: 18vw">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
